div{
    background-color: rgb(245, 239, 239); 
    
}
.header {
    text-align: center;
    
}
.body{
    margin: auto;
    text-align: center;
}
.list {
    text-align: left;
}
.background{
    background-color: darkgrey;
}
.navigation{
    background-color: gray;
    padding: 10px;
}
.Articles{
    background-color: gray;
    padding: 10px;
}
.Article1{
    padding: 10px;
}
.Article2{
    margin-top: 3%;
    padding: 10px;
    padding-bottom: 200px;
}
img {
    height: 300px;
    width: 700px;
}