<div class="header">
    <span class="one">
       <li class="HorizontalList_item"> <a href="#" class="menuitem">Plants</a> </li>
       <li class="HorizontalList_item">  <a href="#" class="menuitem">Accessories</a> </li>
       <li class="HorizontalList_item">  <a href="#" class="menuitem">Resources</a> </li>
    </span>
    
    <span class="two">
        <img src="../../assets/images/logo.png" class="rootedimg">
    </span>
    <span class="three">
        <a href="#">Search</a>
        <a href="#">Cart</a>
    </span>
</div>