

  <div class = "container-1">

  <div class="box-1">
    <div class = "quadrant-info">
        <h1 class = "homepage-heading">Home</h1>  
        <div class="white-square-line"></div>
        <div class = "small-text"> Performant design for products and websites.</div>
    </div>

    <h1 class = "site-intro">
        Welcome to
        <br>
        the portfolio of
        <br>
        Jonathon Patterson,
        <br>
        Detroit Product Designer
    </h1> 
    
    <div class="j-icon">
        <img src="http://www.jonathanpatterson.com/images/j-icon.svg">
    </div>
    
  </div>

  <div class="box-2">
      
      <div class = "quadrant-info-2">
        <h1 class = "homepage-heading">
            <a href="#" class="list-group-item">About</a>
        </h1>  
        <div class= "white-square-line"></div>
        <div class = "small-text">Shattering the status quo.</div>
    </div>
   </div>

  <div class="box-3">
     <a href="#" class="list-group-item">
          <p>Portfolio</p>
      </a>
    </div>

</div>

<div class = "container-2">
  <div class="box-4">
    
      <a href="#" class="list-group-item">
          <p>Clients</p>
      </a>
  
  </div>

  <div class="box-5">
    
      <a href="#" class="list-group-item">
          <p>'Sup</p>
      </a>
  
  </div>

  <div class="box-6">
    
      <a href="#" class="list-group-item">
          <p>Contact</p>
      </a>
  
  </div>
</div>


